# All functions exported other than those starting with "."
exportPattern("^[^\\.]")

importFrom("graphics", "boxplot", "lines", "plot")
importFrom("limma::topTable")
importFrom("plyr::ddply")
importFrom("stats", "loess", "matrixStats", "na.omit", "nls", "p.adjust", "predict", "pt","ggplot2")

