export("spectraCounteBayes")
export("outputResult")
export("VarianceBoxplot")
export("VarianceScatterplot")
export("Residualplot")
export("peptideProfilePlot")
export("medianSummary")
export("medpolishSummary")
export("equalMedianNormalization")
export("medianSweeping")

importFrom("graphics", "boxplot", "lines", "plot")
importFrom("stats", "loess", "na.omit", "nls", "smooth.spline",
"p.adjust", "predict", "pt","medpolish")
importFrom("limma","topTable","volcanoplot")
importFrom("ggplot2","ggplot","geom_point","geom_line","ggtitle","theme","xlab","ylab","aes","element_text")
