export("spectraCounteBayes")
export("outputResult")
export("plotFitCurve")
export("peptideProfilePlot")
export("medianSummary")
export("medpolishSummary")
export("equalMedianNormalization")
export("medianSweeping")
export("farmsSummary")

importFrom("graphics", "boxplot", "lines", "plot")
importFrom("stats", "loess", "na.omit", "nls", 
"p.adjust", "predict", "pt","medpolish")
importFrom("limma","topTable")
importFrom("plyr","ddply")
importFrom("matrixStats","colMedians","rowMedians")
